.message {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    padding: 10px;
}

.message .msg-icon {
    font-size: 2.5em;
}

.message p {
    margin: 10px 0;
}

.error-message {
    color: #666; /* Red color for error messages */

    .msg-icon {
        color: #f44336; /* Red color for error messages */
    }
}

.caution-message {
    color: #666; /* Yellow color for caution messages */

    .msg-icon {
        color: #ffeb3b; /* Yellow color for caution messages */
    }
}
